*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}





@media(max-width: 480px){
  

  .navbar-nav{
    padding-left: 159px !important;
    gap:1rem !important;
  
  }
  .navbar-light .navbar-toggler-icon ,.navbar-toggler{
    margin-right: 5px !important;
  }

  .nav-item ,.dropdown-menu{
    width: 50px !important;
  }
  
}

@media(max-width: 768px) {
  .footer{
    display: none;
  }
}



